$container-width: 1170px;

$menu-background-color: #000;

$text-color: #fff;
$text-font-family: "Montserrat", "Arial", sans-serif;
$text-font-size: 20px;

$img-height: 240px;

$heart-size:40px;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 991px;

