@import "fonts.css";
@import "global.css";

.menu {
    background-color: #000;
}

.menu-wrap {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
}

.menu-item {
    color: #fff;
    text-decoration: none;
    padding-right: 20px;
}

.img {
    width: 225px;
    height: 225px;
    object-fit: cover;
    object-position: center;
}

.list-img {
    display: flex;
    flex-wrap: wrap;
}

.item-img {
    padding-bottom: 20px;
    padding-right: 25px;
}