@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat.woff2") format("woff2"),
    url("../assets/fonts/Montserrat.woff") format("woff"),
    url("../assets/fonts/Montserrat.ttf") format("ttf"),
    url("../assets/fonts/Montserrat.eot") format("eot");
    font-weight: 400;
    font-style: normal;
}