@import "variables";

body {
  margin: $margin-none;
  font-family: $text-font-family;
  font-size: $text-font-size;
}

p {
  margin-top: $margin-top-none;
}

.container {
  max-width: $container-width;
  padding: 0 15px 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.inner {
  padding-top: 35px;
  @media (max-width: $breakpoint-mobile) {
    padding-top: 15px;
  }
}