@import "fonts";
@import "global";
@import "variables";
@import "normalize.css/normalize.css";
@import "mixins";

.menu {
  background-color: $menu-background-color;
}

.menu-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}

.menu-item {
  color: $text-color;
  text-decoration: none;
  padding-right: 20px;
}

.img {
  background-color: $menu-background-color;
  width: $img-size-desktop;
  height: $img-size-desktop;
  object-fit: cover;
  object-position: center;
  @media (max-width: $breakpoint-mobile) {
    width: $img-size-mobile;
    height: $img-size-mobile;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  position: relative;
  margin: $item-margin-desktop;
  @media (max-width: $breakpoint-mobile) {
    margin: $item-margin-mobile;
  }
}

.button {
  content: '';
  position: absolute;
  width: $heart-size;
  height: $heart-size;
  bottom: 15px;
  right: 10px;
  background-image: url("../assets/svg/heart.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: 0.5s ease-in-out;

  &:hover {
    background-image: url("../assets/svg/checked-heart.svg");
    transition: 0.2s linear;
  }

  &:active {
    transform: scale(1.2);
  }
}

.checked-button {
  background-image: url("../assets/svg/checked-heart.svg");
}

.text-loading {
  display: inline-block;
  clip-path: inset(0 1ch 0 0);
  animation: loading 1s steps(8) infinite;
}

