$container-width: 1170px;

$menu-background-color: #000;

$text-color: #fff;
$text-font-family: "Montserrat", "Arial", sans-serif;
$text-font-size: 20px;

$img-size-desktop: 225px;
$img-size-mobile: 200px;

$item-padding-desktop: 0 25px 20px 0;
