$container-width: 1170px;

$menu-background-color: #000;

$text-color: #fff;
$text-font-family: "Montserrat", "Arial", sans-serif;
$text-font-size: 20px;

$img-size-desktop: 240px;
$img-size-mobile: 265px;

$item-padding-desktop: 0 40px 30px 0;
$item-padding-mobile: 0 20px 15px 0;

$margin-top-none: 0;
$margin-none: 0;

$breakpoint-mobile: 768px;
